<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <title>User's Gallery</title>
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <a href="/arena">Arena</a>
            <a href="/hall_of_fame">Hall of Fame</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="logo-header">
            <a href="/"><img src="{% static 'content/artoff_logo.png' %}" height="50" alt=""></a>
        </div>
        <div class="main">
            {% for art in artworks%}
            <div class="artworks">
                <a href="artwork/{{art.id}}" class="artwork"><img src="{{art.art_image.url}}" alt="" width="200" height="200"></a>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
</body>
</html>