<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            {% for key, link in links.items %}
            <a href="{{link}}">{{key}}</a>
            {%endfor%}
        </div>
        <div class="logo-header">
            <a href="/"><img src="{% static 'content/artoff_logo.png' %}" height="50" alt=""></a>
        </div>
        <div class="main">
            <div class="user-ui">
                <div class="small-gallery">
                    <h2>{{request.session.username}} Recent Uploads</h2>
                    <div class="recent">
                        <p>Image 1</p>
                        <p>image 2</p>
                        <p>image 3</p>
                        <a href="/gallery">Gallery</a>
                    </div>
                </div>
                <div class="artwork-upload">
                    <h2>Create Artwork</h2>
                    <form action="/create_art" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input">
                            <p>Upload Artwork:</p>
                            <input type="file" name="art_image" id='upload_file' class="aFile">
                            <p>Caption:</p> 
                            <input type="text" name="caption">
                            <button type="submit" class="button">Create Art</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="feed">
                <h2></h2>
              <p>images 1</p>
              <p>images 2</p>
              <p>images 3</p>
              <p>images 4</p>
            </div>
            <div class="artist-network"><h2>Artist Network</h2>
                {{request.session.username}}
                <p>Artist 2</p>
                <p>Artist 3</p>
                <p>Artist 4</p>
                <p>Artist 5</p>
                <p>Artist 6</p>
                <p>Artist 7</p>
                <p>Artist 8</p>
                <p>Artist 9</p>
                <p>Artist 10</p>
            </div>
        </div>
        <div class="footer">
            <span></span>
            <h1>downhere</h1>
        </div>
    </div>
</body>
</html>