*{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin: 0;
    padding: 0;
}
.nav-bar {
    display: flex;
    justify-content: flex-end;
    background-color: aqua;
    padding: 5px 0px;
}
.nav-bar a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
}
.logo-header {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.main, {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
}
.rankings{
    display: flex;
    justify-content: space-around;
}
.card-title{
    display: flex;
    justify-content: center;
}

.card-title h2{
    margin: auto 0;
}

.artwork {
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.card-detail, .card-detail > a, p{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    
}

.spacer hr {
    margin: 25px 0px;
}

/* overlay medals over pictures */